body {
  background-image: url("/imgs/common/common_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);

  font-family: Arial, sans-serif;
  color: #32178d;
}

html, body {
  height: 100%;
}